.ant-layout {
  height: 100%;
}

.header {
  padding: 0;
  display: flex; // 将 header 设为 Flexbox 容器
  align-items: center; // 让 logo 和 company_name 垂直居中对齐
}

.logo {
  width: 70px;
  height: 69px;
  background: url('~@/assets/logo.png') no-repeat center / 80px auto;
}

.company_name {
  width: 130px;
  height: 65px;
  
  background: url('~@/assets/company_name.png') no-repeat center / 140px auto;
}

.layout-content {
  overflow-y: auto;
}

.user-info {
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 20px;
  color: #fff;

  .user-name {
    margin-right: 20px;
  }

  .user-logout {
    display: inline-block;
    cursor: pointer;
  }
}
.ant-layout-header {
  padding: 0 !important;
}
