.login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: center/cover url('~@/assets/login.png');
  background-size: cover;

  .company_name {
    position: absolute;
    left: 50%; /* 更改百分比以调整水平位置 */
    width: 100%;
    top: 30%;
    transform: translate(-50%, -50%);
    background: url('~@/assets/company_name.png') no-repeat center / 100% ;
  }

  .login-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    padding-top: 40px;
    
  }

  .key_input {
    width: 100%;

  }

  .login-checkbox-label {
    color: #1890ff;
  }

  .verify_key{
    left: 50%;

    transform: translate(-50%, -50%);
  }
}
