@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.not-found-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
  background: url('~@/assets/404-bg.png') no-repeat center;
  background-size: cover; /* 添加这一行，让背景图片在容器内保持完整并自动适应大小 */
}



.not-found-img {
  position: absolute;
  top: 0;
  left: 20%;
  width: 40vw;
  height: 6vw;

  
  background: url('~@/assets/404.png') no-repeat center / 100% auto;
}
